# GitHub Personal Access Token (PAT)
GITHUB_TOKEN=your_github_token_here

# 可選：預設在此目錄下新建workspace
# WORKSPACE_DIR=your_workspace_path

# 可選：預設每次重啟 server 隨機生成，設定後 Session Token 每次啟動均固定
# SESSION_TOKEN=your_custom_session_token

# 可選：預設監聽 Port 或工作目錄自訂
PORT=8000
